{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Membre - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
	<div class="admin-membres">
  	{{ parent() }}
  	<h1 class="beige text-center">Membres</h1>
    <hr class="hr-beige">
		<div class="bordures">
	  	<div class="row">
		  	<a href="{{ path('sd6_production_admin_add_member') }}" class="btn btn-primary">Ajouter un membre</a>
        <div class="liste">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
                  <tr>
                    <td>{{member.firstName}}</td>
                    <td>{{member.post}}</td>
                    <td>
                      <div class="boutons-admin">
                        <div class="btn-group">
                          <a href="{{ path('sd6_production_admin_edite_member', {'idMember': member.id})}}" class="btn btn-default">Modifier</a>
                          <a href="#" class="supprimer btn btn-danger" data-id="{{member.id}}">Supprimer</a>
                        </div>
                      </div>
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
		  </div>
	  </div>
	</div>

{% endblock %}
