{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Ajout - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
{{ parent() }}

<div class="form-popu-pinned">
  <div class="bordures">
    <h3>Formulaire de popup pinned</h3>

    <div class="container">
      <div class="alert alert-warning" role="alert">
        <p>Code pour ajouter une vidéo : <code>&lt;div id="muteYouTubeVideoPlayer" data-id="roInqKhNePk"&gt;&lt;/div&gt;</code>. Le 'data-id' corespond à l'id de la vidéo Youtube.</p>
      </div>
    	{{ form_start(formPopup) }}

    	{% if form_errors(formPopup) or form_errors(formPopup.title) or form_errors(formPopup.content) %}
    	<div class="">
    		{{ form_errors(formPopup) }}
    		{{ form_errors(formPopup.title) }}
    		{{ form_errors(formPopup.content) }}
    	</div>
    	{% endif %}


    	<div class="row">
    		{{ form_label(formPopup.title, "Titre de la popup", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    		{{ form_widget(formPopup.title, {'attr': {'class': 'form-control'}}) }}
    	</div>

    	<div class="row">
    		{{ form_label(formPopup.content, "Contenu de la popup", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    		{{ form_widget(formPopup.content, {'attr': {'class': 'form-control'}}) }}
    	</div>

    	<div class="row">
    		{{ form_label(formPopup.published, "Etat Publie ?", {'label_attr': {'class': 'col-sm-3 control-label label_publie'}}) }}
    		{{ form_widget(formPopup.published, {'attr': {'class': 'form-control checkbox_publie'}}) }}
    	</div>

    	{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
    	{{ form_widget(formPopup.valider, {'attr': {'class': 'btn btn-primary'}}) }}

    	{{ form_end(formPopup) }}
    	</div>
  </div>

</div>

{% endblock %}
