{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Gestion popup - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
{{ parent() }}

<div class="popup-pinned">
  <h1 class="beige text-center">Popup pinned</h1>
  <hr class="hr-beige">
  <div class="bordures">
    <div class="row">
      <a href="{{path('sd6_production_popup_infos_create')}}" class="btn btn-primary">Ajouter une popup</a>
      {% if allPopup is not null %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Numéro</th>
            <th>Titre</th>
            <th>Publié ?</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for popup in allPopup %}
          <tr>
            <td>{{popup.id}}</td>
            <td>{{popup.title}}</td>
            <td>{% if popup.published %}Oui{% else %}Non{% endif %}</td>
            <td>
              <div class="boutons-admin">
                <div class="btn-group">
                  <a href="{{path('sd6_production_popup_infos_edite',{idPopup: popup.id})}}" class="btn btn-default">modifier</a>
                  <a href="#" class="supprimer btn btn-danger" data-id="{{popup.id}}">Supprimer</a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>Aucun popup.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
