<h3>Formulaire de membre</h3>

<div class="container">
	{{ form_start(formMember) }}

    {# Les erreurs générales du formulaire. #}
    {% if form_errors(formMember) or form_errors(formMember.name) or form_errors(formMember.firstName) or form_errors(formMember.post) or form_errors(formMember.description) or form_errors(formMember.image.url)%}
	    <div class="">
		    {{ form_errors(formMember) }}
		    {{ form_errors(formMember.name) }}
		    {{ form_errors(formMember.firstName) }}
		    {{ form_errors(formMember.post) }}
		    {{ form_errors(formMember.description) }}
		    {{ form_errors(formMember.image.url) }}
		    {{ form_errors(formMember.image.file) }}
		</div>
	{% endif %}

    <div class="row">
		{{ form_label(formMember.name, "Nom du membre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(formMember.name, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="row">
		{{ form_label(formMember.firstName, "Prenom du membre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(formMember.firstName, {'attr': {'class': 'form-control'}}) }}
    </div>

  	<div class="row">
		{{ form_label(formMember.post, "Poste", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(formMember.post, {'attr': {'class': 'formMembre-control poste-poste'}}) }}
    </div>

    <div class="row">
		{{ form_label(formMember.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(formMember.description, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="row">
		{{ form_label(formMember.image.url, "Image URL", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(formMember.image.url, {'attr': {'class': 'form-control'}}) }}

		{{ form_label(formMember.image.alt, "Image alt", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(formMember.image.alt, {'attr': {'class': 'form-control'}}) }}

		{{ form_label(formMember.image.category, "Image categorie", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(formMember.image.category, {'attr': {'class': 'form-control'}}) }}

		{{ form_label(formMember.image.file, "Image fichier", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(formMember.image.file, {'attr': {'class': 'form-control'}}) }}
    </div>

  	{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  	{{ form_widget(formMember.valider, {'attr': {'class': 'btn btn-primary'}}) }}

  	{# Génération automatique des champs pas encore écrits.
     	Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     	et tous les champs cachés (type « hidden »). #}
  	{{ form_rest(formMember) }}

  	{# Fermeture de la balise <form> du formulaire HTML #}
  	{{ form_end(formMember) }}
</div>
