<h3>Formulaire de categorie</h3>

<div class="container">
	{{ form_start(formCategory) }}

    {# Les erreurs générales du formulaire. #}
    {% if form_errors(formCategory) or form_errors(formCategory.name)%}
	    <div class="alert alert-danger">
		    {{ form_errors(formCategory) }}
		    {{ form_errors(formCategory.name) }}
		</div>
	{% endif %}

    <div class="row">
		{{ form_label(formCategory.name, "Nom de la categorie", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(formCategory.name, {'attr': {'class': 'form-control'}}) }}
    </div>

		<div class="row">
			{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
			{{ form_widget(formCategory.valider, {'attr': {'class': 'btn btn-primary'}}) }}
		</div>

  	{# Génération automatique des champs pas encore écrits. #}
  	{{ form_rest(formCategory) }}

  	{# Fermeture de la balise <form> du formulaire HTML #}
  	{{ form_end(formCategory) }}
</div>
