{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Annonces - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
	<div class="admin-annonces">
  	{{ parent() }}
  	<h1 class="beige text-center">Annonces</h1>
    <hr class="hr-beige">
		<div class="bordures">
	  	<div class="row">
		  	<a href="{{ path('sd6_production_admin_add_advert', {'type': 'autre'}) }}">Ajouter une annonce</a>
        <a href="{{ path('sd6_production_admin_add_advert', {'type': 'casting'}) }}">Ajouter un casting</a>
        <div class="liste">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Titre</th>
                <th>Publié</th>
                <th>Date publication</th>
                <th>Modifier</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
              {% for advert in adverts %}
                  <tr>
                    <td>{{advert.title}}</td>
                    <td>{{advert.published}}</td>
                    <td>{{advert.date| localizeddate('medium', 'none', app.request.locale)}}</td>
                    <td>
                      <div class="boutons-admin">
                        <a href="{{path('sd6_production_admin_edite_advert', {'idAdvert': advert.id})}}">Modifier</a>
                      </div>
                    </td>
                    <td>
                      <div class="boutons-admin">
                        <a href="#" class="supprimer" data-id="{{advert.id}}">Supprimer</a>
                      </div>
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
		  </div>
	  </div>
	</div>

{% endblock %}
