{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Erreur - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="SD6 Production page non trouvée">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
<div class="row">
  <div class="bordures">
    <div class="row">
      <h1 class="text-center">Oups, une erreur est survenue</h1>
      <hr>
      <p class="text-center">Le serveur à répondu : "{{ status_code }} {{ status_text }}".</p>
      <p class="text-center">Nous vous invitons à nous faire part de cette erreur et de <a href="{{ path('sd6_production_app_homepage') }}">retourner à l'accueil</a>. Merci pour votre compréhension.</p>
      <p class="text-right">SD6 Production</p>
    </div>
  </div>
</div>
{% endblock %}
