<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
        {% block stylesheets %}          
            <!--Import Google Icon Font-->
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">         
            {% stylesheets filter='cssrewrite' 
            'css/bootstrap.min.css' 
            'css/custom.css'%}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}               
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('sd6_production_app_homepage') }}">SD6 Production</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}                         
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bonjour {{ app.user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_change_password') }}">Change mot de passe</a></li>
                            </ul>
                        </li>
                    {% endif %} 
                    <li><a href="#">Productions</a></li>
                    <li><a href="#">Équipe</a></li>
                    <li><a href="#">Actualités</a></li>
                    <li><a href="#">Photos</a></li>
                    <li><a href="#">Recrutements</a></li>
                    <li><a href="#">Contact</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}                         
                        <li>
                            <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Deconnexion</a>
                        </li>
                    {% endif %} 
                </ul>
                
            </div>
        </div>
        </nav>

        {% block body %}
        {% endblock %}
        
        {% block javascripts %}
            {% javascripts  'js/jquery-3.1.1.min.js''js/bootstrap.min.js''js/app.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts  %}
        {% endblock %}
    </body>
</html>
