{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Compte - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
	<div class="categorie">
  	{{ parent() }}
  	<h1 class="beige text-center">Comptes</h1>
    <hr class="hr-beige">
		<div class="bordures">
      <div class="row">
        <h2>Mon compte</h2>
        <a href="{{ path('fos_user_change_password') }}">Change mot de passe</a>
        {% include "FOSUserBundle:Profile:show_content.html.twig" with {'user': userConnected} %}
      </div>
      {% if is_granted('ROLE_SUPER_ADMIN') %}
	  	<div class="row">
        <h2>Liste des comptes</h2>
		  	<a href="{{ path('fos_user_registration_register') }}">Ajouter un compte</a>
        <div class="liste">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Role</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
                  <tr>
                    <td>{{user.username}}</td>
                    <td>{% for role in user.roles %}
                      <p>{{role}}</p>
                    {% endfor %}</td>
                    <td>
                      <div class="boutons-admin">
                        <a href="" class="supprimer" data-id="{{user.id}}" class="supprimer">Supprimer</a>
                      </div>
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
		  </div>
      {% endif %}
	  </div>
	</div>

{% endblock %}
