{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Actualites - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
<div class="actualites">
  {{ parent() }}
  <h1 class="beige text-center">Actualités</h1>
  <hr class="hr-beige">
  <div class="row description">
    <div class="bordures">
      <p class="text-center">Suivez nos actualités afin de ne rien manquer de nos activités !</p>
    </div>
  </div>
  <div class="epingle">
    {% if actualitesPinned %}
      {% for actualitePinned in actualitesPinned %}
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenu">
        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
        <div class="bordures">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="image">
              {% if actualitePinned.image is not null %}
              <img src="{{asset(actualitePinned.image.url)}}" alt="{{actualitePinned.image.alt}}">
              {% else %}
              <p>Pas de visuel</p>
              {% endif %}
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="titre">
              <h3>
                <a href="{{ path('sd6_production_app_details_advert',{'typeAdvert': actualitePinned.category.name, 'slugAdvert': actualitePinned.slug}) }}">
                  {{actualitePinned.title}}
                </a>
              </h3>
              <hr>
            </div>
            <div class="accroche">
              <p>{{actualitePinned.taglines|raw}}</p>
            </div>
            <div class="bouton">
              <a href="{{ path('sd6_production_app_details_advert',{'typeAdvert': actualitePinned.category.name, 'slugAdvert': actualitePinned.slug}) }}">Voir plus</a>
              {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="row boutons-admin">
                  <a href="{{ path('sd6_production_admin_edite_advert', {'idAdvert': actualitePinned.id})}}" class="editer">Editer</a>
                  <a href="{{ path('sd6_production_admin_delete', {'typeElement': 'advert', 'numElement': actualitePinned.id})}}" class="supprimer">Supprimer</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="row">
    <div class="bordures">
      {{ include("SD6ProductionAppBundle:Include:annonce.html.twig") }}
    </div>
  </div>
</div>

{% endblock %}
