{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Casting - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
	<div class="casting">
  	{{ parent() }}
  	<h1 class="beige text-center">Casting</h1>
    <hr class="hr-beige">
      <div class="row description">
        <div class="bordures">
          <p class="text-center">Pour certains projets, nous cherchons des candidats afin de remplir des rôles, n'hésitez pas à <a href="{{ path('sd6_production_contact_contact') }}">nous contactez</a> si votre profil correspond aux demandes !</p>
        </div>
      </div>
	  	<div class="row">
        <div class="bordures">
          {{ include("SD6ProductionAppBundle:Include:annonce.html.twig") }}
        </div>
		  </div>
	</div>

{% endblock %}
