{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Actualites - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
	<div class="bordures detail">
	  	{{ parent() }}
	  	<h1>Actualités</h1>
		<div class="{{annonce.Categorie.nom}} {{annonce.slug}}">
		  	<div class="row">
				<div class="contenu">
               {% if is_granted('ROLE_ADMIN') %}
   				<a href="{{ path('sd6_production_app_edition_annonce', {'slugAnnonce': annonce.slug})}}" class="editer">Editer</a>
   				{% endif %}
					<div class="titre">
						<h2>{{annonce.Titre}}</h2>
					</div>
               <div class="image">
   					{% if annonce.Image is not null %}
   						<img src="{{asset(annonce.Image.Url)}}" alt="{{annonce.Image.Alt}}">
   					{% else %}
   						<p>Pas de visuel</p>
   					{% endif %}
   				</div>
               <div class="infos">
                  <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Publié le {{annonce.date|date('d M Y')}} | par {{annonce.auteur}}</p>
               </div>
					<div class="texte">
						<p>{{annonce.contenu|raw}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
