{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Actualites - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
<div class="bordures detail">
  {{ parent() }}
  <div class="{{annonce.Categorie.nom}} {{annonce.slug}}">
    <div class="row">
      <div class="contenu col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>{{annonce.titre}}</h1>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('sd6_production_app_editer_annonce', {'slugAnnonce': annonce.slug})}}" class="editer">Editer</a>
        {% endif %}
        <div class="image">
          {% if annonce.Image is not null %}
          <img src="{{asset(annonce.Image.Url)}}" alt="{{annonce.Image.Alt}}">
          {% else %}
          <p>Pas de visuel</p>
          {% endif %}
        </div>
        <div class="infos">
          <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Publié le {{annonce.date|date('d M Y')}} | par {{annonce.auteur}}</p>
        </div>
        <div class="texte">
          <p>{{annonce.contenu|raw}}</p>
        </div>

        <div class="row">
          {% include "SD6ProductionSocialBundle:Default:social-bar.html.twig" with {'typeAnnonce': 'annonce.Categorie.nom', 'slugAnnonce': 'annonce.slug'} %}
        </div>

        <div class="row">
          <div class="precedent">
            {% if annoncePrecedente %}
              <a href="../{{annoncePrecedente.categorie.slug}}/{{annoncePrecedente.slug}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>{{annoncePrecedente.titre}}</a>
            {% endif %}
          </div>
          <div class="suivant">
            {% if annonceSuivante %}
              <a href="../{{annonceSuivante.categorie.slug}}/{{annonceSuivante.slug}}">{{annonceSuivante.titre}} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="side-bar col-xs-12 col-sm-4 col-md-4 col-lg-4">
        {{ render(controller("SD6ProductionAppBundle:Default:sideBar", {'limite': 5})) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
