{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Actualites - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
	<div class="bordures">
	  	{{ parent() }}
	  	<h1>Actualités</h1>
		<div class="{{annonce.Categorie.nom}} {{annonce.slug}}">
		  	<div class="row">
			  	<div class="image">
					{% if annonce.Image is not null %}
						<img src="{{asset(annonce.Image.Url)}}" alt="{{annonce.Image.Alt}}">
					{% else %}
						<p>Pas de visuel</p>
					{% endif %}
				</div>
				<div class="contenu">
					<div class="titre">
						<h2>{{annonce.Titre}}</h2>
					</div>
					<div class="texte">
						<p>{{annonce.contenu}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
