{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Actualites - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
<div class="bordures detail">
  {{ parent() }}
  <div class="{{advert.category.name}} {{advert.slug}}">
    <div class="row">
      <div class="contenu col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>{{advert.title}}</h1>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('sd6_production_admin_edite_advert', {'idAdvert': advert.id})}}" class="editer">Editer</a>
        {% endif %}
        <div class="image">
          {% if advert.Image is not null %}
          <img src="{{asset(advert.image.Url)}}" alt="{{advert.image.Alt}}">
          {% else %}
          <p>Pas de visuel</p>
          {% endif %}
        </div>
        <div class="infos">
          <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Publié le {{advert.date|date('d M Y')}} | par {{advert.author}}</p>
        </div>
        {% if advert.closure is defined %}
          {% if date(advert.closure) < date('now') %}
          <div class="fermer text-center">
    					<p>Le recrutement est fermer</p>
          </div>
          {% endif %}
        {% endif %}
        <div class="texte">
          <p>{{advert.content|raw}}</p>
        </div>

        <div class="row">
          <p>Partager sur :</p>
          {% include "SD6ProductionSocialBundle:Default:social-bar.html.twig" with {'typeAdvert': 'advert.category.name', 'slugAdvert': 'advert.slug'} %}
        </div>

        <div class="row">
          <div class="precedent">
            {% if advertPrevious %}
              <a href="../{{advertPrevious.category.slug}}/{{advertPrevious.slug}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>{{advertPrevious.title}}</a>
            {% endif %}
          </div>
          <div class="suivant">
            {% if advertNext %}
              <a href="../{{advertNext.category.slug}}/{{advertNext.slug}}">{{advertNext.title}} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="side-bar col-xs-12 col-sm-4 col-md-4 col-lg-4">
        {{ render(controller("SD6ProductionAppBundle:Default:sideBar", {'limit': 5})) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
