{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Equipe - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
<div class="equipe">
  {{ parent() }}
  <h1 class="beige text-center">Equipe</h1>
  <hr class="hr-beige">
  <div class="row membres">
    <div class="row description">
      <div class="bordures">
        <p class="text-center">Notre équipe est composée de divers profils tels que des acteurs, caméramans, scénaristes, monteur vidéo et autres afin de gérer la production ainsi que la post-production de nos projets.</p>
        <p class="text-center">Nous préférons élaborer les projets du début jusqu'à la fin pour garantir les raccords de chaque élément qui constitue le projet.</p>
      </div>
    </div>
    <div class="row">
      <div class="bordures">
        {% for member in listeMembers %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 media">
          <div class="image media-left media-middle">
            <img class="media-object img-rounded" src="{{asset(member.Image.url)}}" alt="{{member.Image.alt}}">
          </div>
          <div class="media-body">
            <h4>{{member.firstName}} {% if member.name is not null %}{{member.name}}{% endif %}, {{member.post}}</h4>
            <p>{{member.description}}</p>
          </div>
          {% if is_granted('ROLE_ADMIN') %}
          <div class="row boutons-admin">
            <a href="{{ path('sd6_production_app_edite_member', {'idMember': member.id})}}">Editer</a>
            <a href="{{ path('sd6_production_app_delete', {'typeElement': 'equipe', 'numElement': member.id})}}" class="supprimer">Supprimer</a>
          </div>
          {% endif %}
        </div>

        {% else %}
        <p>L'équipe est partie en vacances.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
