{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Equipe - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
<div class="equipe">
  {{ parent() }}
  <h1 class="beige text-center">Equipe</h1>
  <hr class="hr-beige">
  <div class="row membres">
    <div class="bordures">
      <p class="center">Notre équipe est composée de divers profils tels que des acteurs, caméramans, scénaristes, monteur vidéo et autres afin de réaliser au mieux tous nos projets.</p>
      {% for Membre in listeMembres %}
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 media">
        <div class="image media-left media-middle">
          <img class="media-object img-rounded" src="{{asset(Membre.Image.url)}}" alt="{{Membre.Image.alt}}">
        </div>
        <div class="media-body">
          <h4>{{Membre.prenom}} {% if Membre.nom is not null %}{{Membre.nom}}{% endif %}, {{Membre.poste}}</h4>
          <p>{{Membre.description}}</p>
        </div>
      </div>

      {% else %}
      <p>L'équipe est partie en vacances.</p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
