{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Equipe - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="Notre équipe">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
<div class="equipe">
  {{ parent() }}
  <h1 class="beige text-center">Equipe</h1>
  <hr class="hr-beige">
  <div class="row membres">
    <div class="row description">
      <div class="bordures">
        <p class="text-center">Notre équipe est composée de divers profils tels que des acteurs, caméramans, assistants, maquilleurs et autres. Cette diversité nous permet de gérer la production ainsi que la post-production.</p>
        <p class="text-center">La diversité de membres de notre équipe permet à nos créations d'avoir un résultat final homogène et conçu avec les mêmes idées.</p>
      </div>
    </div>
    <div class="row">
      <div class="bordures">
        {% for member in listeMembers %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 media">
          <div class="image media-middle">
            <img class="media-object img-rounded" src="{{asset(member.Image.url)}}" alt="{{member.Image.alt}}">
          </div>
          <div class="media-body">
            <h4>{{member.firstName}} {% if member.name is not null %}{{member.name}}{% endif %}, {{member.post}}</h4>
            <p>{{member.description}}</p>
          </div>
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <div class="bouton row boutons-admin">
            <a href="{{ path('sd6_production_admin_edite_member', {'idMember': member.id})}}">Editer</a>
            <a href="#" class="supprimer" data-id="{{member.id}}">Supprimer</a>
          </div>
          {% endif %}
        </div>

        {% else %}
        <p>L'équipe est partie en vacances.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
