{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
    {{ parent() }}
    <div class="accueil">
        <div class="visuel-activites">
            <div class="filtre">
                <div class="contenu">
                    <h1>Un studio de production</h1>
                </div>
            </div>
        </div>
        <div class="row presentation">
            <div class="bordures">
                <h2 class="beige">SD6 Production</h2>
                <hr class="hr-beige">
                <div class="texte">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-1">
                        <p>Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim.</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-2">
                        <p>Ultima Syriarum est Palaestina per intervalla magna protenta, cultis abundans terris et nitidis et civitates habens quasdam egregias, nullam nulli cedentem sed sibi vicissim.</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn">
                        <a href="{{ path('sd6_production_app_equipe') }}" class="btn btn-default">Voir plus</a>
                    </div>
                </div>
                <p></p>
            </div>
        </div>
        <div class="row actualites">
            <h2 class="beige">Dernières publications</h2>
            <hr class="hr-beige">
            {{ include("SD6ProductionAppBundle:Include:annonce.html.twig") }}
        </div>
    </div>

{% endblock %}
