{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
{{ parent() }}
<div class="accueil">
  <div class="visuel-activites">
    <div class="filtre">
      <div class="contenu">
        <p>Production cinématographique</p>
      </div>
    </div>
  </div>
  <div class="row activites">
    <h1>Réalisation et production de films - series - émissions TV</h1>
  </div>
  <div class="row presentation">
    <div class="bordures">
      <h2 class="beige">SD6 Production</h2>
      <hr class="hr-beige">
      <div class="texte">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-1 element-left">
          <p>SD6 Production à pour principale fonction la <strong>réalisation d’œuvres cinématographiques (films), télévisuelles</strong>, ainsi que la composition de musiques et l’organisation d’événements.
          A travers nos projets nous créons un mouvement de personalités, lieux, concepts qui nous permet d'atteindre notre but.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-2 element-right">
          <p>Créée depuis quelques années SD6 Production ne cesse d’avancer et de progresser par la <strong>réalisation de multiples projets</strong> aux thèmes variés comme les films, clips musicaux, films publicitaire, etc. La diversité de ces derniers nous a également permis de nous faire connaitre d’avantage dans ces domaines artistiques.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn">
          <a href="{{ path('sd6_production_app_equipe') }}" class="btn btn-default">Voir plus</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row actualites">
    <h2 class="beige">Dernières publications</h2>
    <hr class="hr-beige">
    {{ include("SD6ProductionAppBundle:Include:annonce.html.twig") }}
  </div>
</div>

{% endblock %}
