{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Galerie photos - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
  {{ parent() }}
  <div class="galerie-photos">
    <h1 class="beige text-center">Galerie photos</h1>
    <hr class="hr-beige">
    <div class="photos row">
      <ul>
        {% for image in images %}
          <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="{{ asset(''~image.url~'')}}" title="{{image.alt}}" class="contenu" data-numelement="{{image.id}}" ><img src="{{ asset(''~image.url~'')}}" alt="{{image.alt}}"></a>
            <div class="bouton">
              {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <div class="row boutons-admin">
                <a href="{{ path('sd6_production_admin_edite_image', {'idImage': image.id})}}">Editer</a>
                <a href="#" class="supprimer" data-id="{{image.id}}">Supprimer</a>
              </div>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
