{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Galerie photos - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
  {{ parent() }}
  <div class="galerie-photos">
    <h1 class="beige text-center">Galerie photos</h1>
    <hr class="hr-beige">
    <div class="photos row">
      <ul>
        {% for imageGalerie in listeImageGalerie %}
          <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="{{ asset(''~imageGalerie.url~'')}}" title="{{imageGalerie.alt}}" class="contenu" data-numelement="{{imageGalerie.id}}" ><img src="{{ asset(''~imageGalerie.url~'')}}" alt="{{imageGalerie.alt}}"></a>
            <div class="row boutons-admin">
              {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('sd6_production_app_editer_image', {'idImage': imageGalerie.id})}}">Editer</a>
                <a href="{{ path('sd6_production_app_supprimer', {'typeElement': 'annonce', 'numElement': annonce.id})}}" class="supprimer">Supprimer</a>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
