{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Galerie photos - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
  {{ parent() }}
  <div class="galerie-photos">
    <h1 class="beige text-center">Galerie photos</h1>
    <hr class="hr-beige">
    <div class="photos row">
      <ul>
        {% for imagesGalerie in listeImagesGalerie %}
          <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="{{ asset(''~imagesGalerie.url~'')}}" title="{{imagesGalerie.alt}}" class="contenu" data-numelement="{{imagesGalerie.id}}" ><img src="{{ asset(''~imagesGalerie.url~'')}}" alt="{{imagesGalerie.alt}}"></a>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <div class="row boutons-admin">
                <a href="{{ path('sd6_production_admin_edite_image', {'idImage': imagesGalerie.id})}}">Editer</a>
                <a href="{{ path('sd6_production_admin_delete', {'typeElement': 'image', 'numElement': imagesGalerie.id})}}" class="supprimer">Supprimer</a>
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
