{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Productions - {{ parent() }}{% endblock %}

{% block head %}
{{ parent() }}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
<div class="productions">
  <div class="bordures">
    {{ parent() }}
    <h1 class="beige text-center">Productions</h1>
    <hr class="hr-beige">
  </div>
  <div class="row bordures">
    <p class="text-center">Les productions représentent tous les projets que nous avons réalisés avec notre équipe de production. Dans le panel ci-dessous, vous trouverez une grande partie de nos productions de films, productions télévisuels, web series, mais aussi les clips musicaux et d'autres encore.</p>
  </div>
  <div class="row">
    <div class="epingle">
      {% if productionsPinned %}
        {% for productionPinned in productionsPinned %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contenu">
          <div class="bordures">
            <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <div class="image">
                {% if productionPinned.image is not null %}
                <img src="{{asset(productionPinned.image.url)}}" alt="{{productionPinned.image.alt}}">
                {% else %}
                <p>Pas de visuel</p>
                {% endif %}
              </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
              <div class="titre">
                <h3>
                  <a href="{{ path('sd6_production_app_details_advert',{'typeAdvert': productionPinned.category.name, 'slugAdvert': productionPinned.slug}) }}">
                    {{productionPinned.title}}
                  </a>
                </h3>
                <hr>
              </div>
              <div class="accroche">
                <p>{{productionPinned.taglines|raw}}</p>
              </div>
              {#<div class="date">
                <p>{{productionPinned.date|date('d M Y')}}</p>
              </div>#}
              <div class="bouton">
                <a href="{{ path('sd6_production_app_details_advert',{'typeAdvert': productionPinned.category.name, 'slugAdvert': productionPinned.slug}) }}">Voir plus</a>
                {% if is_granted('ROLE_ADMIN') %}
                  <div class="row boutons-admin">
                    <a href="{{ path('sd6_production_app_edite_advert', {'slugAdvert': productionPinned.slug})}}" class="editer">Editer</a>
                    <a href="{{ path('sd6_production_app_delete', {'typeElement': 'advert', 'numElement': productionPinned.id})}}" class="supprimer">Supprimer</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="bordures">
      <div class="grille">
        {% for production in listeProductions %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="contenu">
            <div class="image">
              {% if production.image is not null %}
              <!--<a href="{{ path('sd6_production_app_details_advert',{'typeAdvert': production.category.name, 'slugAdvert': production.slug}) }}">-->
              <img src="{{asset(production.image.url)}}" alt="{{production.image.alt}}">
              <!--</a>-->
              {% else %}
              <p>Pas de visuel</p>
              {% endif %}
            </div>
            <div class="overlay">
              <div class="texte">
                <div class="table-cell">
                  <div class="titre">
                    <h3>
                      <a href="{{ path('sd6_production_app_details_advert',{'typeAdvert': production.category.name, 'slugAdvert': production.slug}) }}">
                        {{production.title}}
                      </a>
                    </h3>
                    <hr>
                  </div>
                  <div class="bouton">
                    <a href="{{ path('sd6_production_app_details_advert',{'typeAdvert': production.category.name, 'slugAdvert': production.slug}) }}">Voir plus</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('sd6_production_app_edite_advert', {'slugAdvert': production.slug})}}" class="editer">Editer</a>
                    <a href="{{ path('sd6_production_app_delete', {'typeElement': 'advert', 'numElement': production.id})}}" class="supprimer">Supprimer</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <p>Pas de production disponible.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
