<div class="annonce">
	{% for advert in listeAdverts %}
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="contenu ombres">
			<div class="image">
				{% if advert.image is not null %}
					<a href="{{ path('sd6_production_app_details_advert',{'typeAdvert': advert.category.slug, 'slugAdvert': advert.slug}) }}">
						<img src="{{asset(advert.image.url)}}" alt="{{advert.image.alt}}">
					</a>
				{% else %}
				<p>Pas de visuel</p>
				{% endif %}
				{% if advert.closure is defined %}
					{% if advert.closure|date('Y/m/d') < "now"|date('Y/m/d') %}
					<p class="ferme">Fermé</p>
					{% endif %}
				{% endif %}
			</div>
			<div class="texte">
				<div class="titre">
					<h3>
						<a href="{{ path('sd6_production_app_details_advert',{'typeAdvert': advert.category.slug, 'slugAdvert': advert.slug}) }}">
							{{advert.title}}
						</a>
					</h3>
				</div>
				<div class="accroche">
					<p>{{advert.taglines|raw}}</p>
				</div>
				<div class="date">
					<p>{{advert.date|date('d M Y')}}</p>
				</div>
			</div>
			<div class="bouton">
				<a href="{{ path('sd6_production_app_details_advert',{'typeAdvert': advert.category.name, 'slugAdvert': advert.slug}) }}">Voir plus</a>
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<div class="row boutons-admin">
						<a href="{{ path('sd6_production_admin_edite_advert', {'idAdvert': advert.id})}}" class="editer">Editer</a>
						<a href="{{ path('sd6_production_admin_delete_advert', {'idAdvert': advert.id})}}" class="supprimer">Supprimer</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% else %}
	<p>Pas d'annonce disponible.</p>
	{% endfor %}
</div>
