<div class="annonce">
	{% for Annonce in listeAnnonces %}
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="contenu ombres">
			<div class="image">
				{% if Annonce.Image is not null %}
					<a href="{{ path('sd6_production_app_details_annonce',{'typeAnnonce': Annonce.Categorie.nom, 'slugAnnonce': Annonce.slug}) }}">
						<img src="{{asset(Annonce.Image.Url)}}" alt="{{Annonce.Image.Alt}}">
					</a>
				{% else %}
				<p>Pas de visuel</p>
				{% endif %}
			</div>
			<div class="texte">
				<div class="titre">
					<h3>
						<a href="{{ path('sd6_production_app_details_annonce',{'typeAnnonce': Annonce.Categorie.nom, 'slugAnnonce': Annonce.slug}) }}">
							{{Annonce.Titre}}
						</a>
					</h3>
				</div>
				<div class="accroche">
					<p>{{Annonce.Accroche|raw}}</p>
				</div>
				<div class="date">
					<p>{{Annonce.date|date('d M Y')}}</p>
				</div>
			</div>
			<div class="bouton">
				<a href="{{ path('sd6_production_app_details_annonce',{'typeAnnonce': Annonce.Categorie.nom, 'slugAnnonce': Annonce.slug}) }}">Voir plus</a>
				{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('sd6_production_app_editer_annonce', {'slugAnnonce': Annonce.slug})}}" class="editer">Editer</a>
				<a href="{{ path('sd6_production_app_supprimer_annonce', {'idAnnonce':Annonce.id}) }}">Supprimer</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% else %}
	<p>Pas d'annonce disponible.</p>
	{% endfor %}
</div>
