<div class="annonce">
	{% for annonce in listeAnnonces %}
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<div class="contenu ombres">
			<div class="image">
				{% if annonce.Image is not null %}
					<a href="{{ path('sd6_production_app_details_annonce',{'typeAnnonce': annonce.Categorie.nom, 'slugAnnonce': annonce.slug}) }}">
						<img src="{{asset(annonce.Image.Url)}}" alt="{{annonce.Image.Alt}}">
					</a>
				{% else %}
				<p>Pas de visuel</p>
				{% endif %}
			</div>
			<div class="texte">
				<div class="titre">
					<h3>
						<a href="{{ path('sd6_production_app_details_annonce',{'typeAnnonce': annonce.Categorie.nom, 'slugAnnonce': annonce.slug}) }}">
							{{annonce.Titre}}
						</a>
					</h3>
				</div>
				<div class="accroche">
					<p>{{annonce.Accroche|raw}}</p>
				</div>
				<div class="date">
					<p>{{annonce.date|date('d M Y')}}</p>
				</div>
			</div>
			<div class="bouton">
				<a href="{{ path('sd6_production_app_details_annonce',{'typeAnnonce': annonce.Categorie.nom, 'slugAnnonce': annonce.slug}) }}">Voir plus</a>
				<div class="row boutons-admin">
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('sd6_production_app_editer_annonce', {'slugAnnonce': annonce.slug})}}" class="editer">Editer</a>
						<a href="{{ path('sd6_production_app_supprimer', {'typeElement': 'annonce', 'numElement': annonce.id})}}" class="supprimer">Supprimer</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<p>Pas d'annonce disponible.</p>
	{% endfor %}
</div>
