<h3>Formulaire d'image</h3>

<div class="container">
	{{ form_start(formImage) }}

    {# Les erreurs générales du formulaire. #}
    {% if form_errors(formImage) or form_errors(formImage.url) or form_errors(formImage.alt) or form_errors(formImage.categories)%}
	    <div class="">
		    {{ form_errors(formImage) }}
		    {{ form_errors(formImage.url) }}
		</div>
	{% endif %}

    <div class="row">
		{{ form_label(formImage.url, "Url de l'image", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(formImage.url, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="row">
    	{{ form_label(formImage.alt, "Alt de l'image", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    	{{ form_widget(formImage.alt, {'attr': {'class': 'form-control'}}) }}
    </div>

	<div class="row">
		{{ form_label(formImage.file, "Image fichier", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
		{{ form_widget(formImage.file, {'attr': {'class': 'form-control'}}) }}
	</div>

    <div class="row">
    {{ form_label(formImage.categories, "Catégorie de l'image", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_widget(formImage.categories, {'attr': {'class': 'form-control'}}) }}
    </div>

  	{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  	{{ form_widget(formImage.valider, {'attr': {'class': 'btn btn-primary'}}) }}

  	{# Génération automatique des champs pas encore écrits. #}
  	{{ form_rest(formImage) }}

  	{# Fermeture de la balise <form> du formulaire HTML #}
  	{{ form_end(formImage) }}
</div>
