{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Ajout - {{ parent() }}{% endblock %}

{% block head %}
  	{{ parent() }}
  	<meta name="description" content="">
  	<meta name="keywords" content="">
{% endblock %}

{% block site_body %}
  	{{ parent() }}
  	<p>Annonce</p>
  	<p>Image</p>
  	<p>Membre</p>
  	<p>Catégorie</p>

   	<div class="all-form">
      <div class="bordures">
        <div class="form-annonce">
          {{ include("SD6ProductionAppBundle:Include:form-annonce.html.twig") }}
        </div>
        <hr>
        <div class="form-image">
          {{ include("SD6ProductionAppBundle:Include:form-image.html.twig") }}
        </div>
        <hr>
        <div class="form-membre">
          {{ include("SD6ProductionAppBundle:Include:form-membre.html.twig") }}
        </div>
        <hr>
        <div class="form-categorie">
          {{ include("SD6ProductionAppBundle:Include:form-categorie.html.twig") }}
        </div>
      </div>

	</div>

{% endblock %}
