{% extends "SD6ProductionAppBundle:Include:layout.html.twig" %}

{% block title %}Editer - {{ parent() }}{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="">
  <meta name="keywords" content="">
{% endblock %}

{% block site_body %}
	<div class="bordures">
	  	{{ parent() }}
        {% if annonce is defined %}
    	  	<h1>Editer {{annonce.titre}}</h1>
            <div class="form-annonce">
                {{ include("SD6ProductionAppBundle:Include:form-annonce.html.twig") }}
            </div>
        {% endif %}
        {% if image is defined %}
    	  	<h1>Editer image n°{{image.id}}</h1>
            <div class="form-annonce">
                {{ include("SD6ProductionAppBundle:Include:form-image.html.twig") }}
            </div>
        {% endif %}
	</div>

{% endblock %}
